@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600&display=swap');

:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.section {
    background: var(--bg-black-900);
    display: block;
    min-height: 100vh;
    opacity: 1;
    padding: 0 30px;
    top: 0;
    right: 0;
    left: 270px;
    bottom: 0;
    overflow-y: auto;
    z-index: 0;
    overflow-x: hidden;
    position: fixed;
}

.section.active {
    z-index: 2;
    opacity: 1;
    animation: slideSection 1s ease;
}

.section.back-section {
    z-index: 1;
}

@keyframes slideSection {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }

}

/* .main-content {
    padding-left: 270px;
} */

.container {
    margin: auto;
    max-width: 1100px;
    width: 100%;
}

.pad-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.hidden {
    display: none !important;
}

.shadow-dark {
    box-shadow: 0 0 18px rgba(48, 46, 77, 0.15);
}

/* sidebar */

.side-bar {
    width: 270px;
    padding: 30px;
    position: fixed;
    background: var(--bg-black-100);
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--bg-black-50);
}

.side-bar .logo {
    position: absolute;
    top: 50px;
    font-size: 2rem;
    text-transform: capitalize;
}

.side-bar .logo a {
    color: var(--text-black-900);
    font-weight: 800;
    padding: 15px 20px;
    font-size: 2rem;
    letter-spacing: 5px;
    position: relative;
}

.side-bar .logo a span {
    font-family: 'Clicker Script', cursive;
    font-size: 42px;
}

.side-bar .logo a::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}

.side-bar .logo a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}

.side-bar .nav-toggler {
    position: fixed;
    width: 40px;
    height: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
}

.side-bar .nav-toggler span {
    display: inline-block;
    position: relative;
    height: 2px;
    width: 18px;
    background: var(--skin-color);
}

.side-bar .nav-toggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    top: -6px;
    left: 0;
    background: var(--skin-color);
    position: absolute;
}

.side-bar .nav-toggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    left: 0;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
}

.side-bar .nav {
    margin-top: 3rem;
}

.side-bar .nav li {
    margin-bottom: 20px;
    display: block;
}

.side-bar .nav li a {
    font-size: 1rem;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}

.side-bar .nav li a.active {
    color: var(--skin-color);
}

.side-bar .nav li a i {
    margin-right: 14px;
}

/* home */

.home {
    min-height: 100vh;
    display: flex;
    background: var(--bg-black-900);
}

.home .home-info {
    flex: 0 0 60%;
    max-width: 60%;
}

.home .profile-img {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.home .profile-img img {
    height: 370px;
    margin: auto;
    border-radius: 6px;
    box-shadow: #302e4d;
}

.profile-img::before {
    content: '';
    position: absolute;
    width: 4.5rem;
    height: 4.5rem;
    color: var(--skin-color);
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    top: -2rem;
    left: -0.5rem;
}

.profile-img::after {
    content: '';
    position: absolute;
    width: 4.5rem;
    height: 4.5rem;
    color: var(--skin-color);
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    bottom: -2rem;
    right: 0;
}


h3.intro {
    font-size: 28px;
    margin: 15px 0;
}

h3.intro span {
    font-family: 'Clicker Script', cursive;
    font-weight: 700;
    font-size: 2rem;
    color: var(--skin-color);
}

h3.profession {
    font-size: 2rem;
    margin: 15px 0;
}

.typing {
    color: var(--skin-color);
}

.home-info p {
    margin-bottom: 3rem;
    font-size: 18px;
    color: var(--text-black-700);
}

.row {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    bottom: 2px;
}

.column {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    bottom: 1px;
}

.btn {
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-black-900);
    background-color: var(--skin-color);
    border-radius: 2rem;
    padding: 12px 30px;
    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
    transition: all 0.3s ease;
    border: none;
}

.btn:hover {
    transform: scale(1.04);
}

/* about */

.section.conatiner {
    padding-top: 4rem;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 3rem;
}

.section-title h2 {
    font-size: 2rem;
    font-weight: 800;
    position: relative;
    color: var(--text-black-900);
}

.section-title h2::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: var(--skin-color);
    top: 100%;
    left: 0;
}

.section-title h2::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 4px;
    top: 100%;
    left: 0;
    margin-top: 8px;
    background-color: var(--skin-color);
}

.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about.about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
    background-color: red;
}

.about .about.about-content .about-text h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 800;
}

.about .about-content .about-text h3 span {
    font-size: 1.5rem;
    color: var(--skin-color);
}

.about .about-content .about-text p {
    color: var(--text-black-700);
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    line-height: 28px;
}

.about .about-content .self-info {
    flex: 0 0 60%;
    max-width: 60%;
}

.about .about-content .skills {
    flex: 0 0 40%;
    max-width: 40%;
}

.about .about-content .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1.5rem;
}

.about .about-content .skills .skill-item h5 {
    font-weight: 800;
    font-size: 1rem;
    color: var(--text-black-900);
    line-height: 2rem;
}

.about .about-content .skills .skill-item .progress {
    width: 100%;
    background-color: var(--bg-black-50);
    height: 6px;
    border-radius: 3px;
    position: relative;
}

.about .about-content .skills .skill-item .progress .progress-info {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--skin-color);
    border-radius: 4px;
}

.about .about-content .skills .skill-item .progress .skill-percent {
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    font-weight: 500;
    top: -2rem;
    line-height: 36px;
}

.about .about-content .self-info .info-item {
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .self-info .info-item p {
    font-size: 1rem;
    font-weight: 800;
    padding: 0.5rem 0;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .self-info .info-item p span {
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--text-black-700);
    display: inline-block;
    margin-left: 4px;
}

.about .about-content .education,
.about .about-content .experience {
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .education h3.title,
.about .about-content .experience h3.title {
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 28px;
    color: var(--text-black-900);
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

.about .about-content .card {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .card .card-item {
    position: relative;
    padding-bottom: 2rem;
    padding-left: 2rem;
}

.about .about-content .card .card-item::before {
    content: '';
    width: 2px;
    position: absolute;
    height: 100%;
    top: 0;
    left: 6px;
    background-color: var(--skin-color);
}

.about .about-content .card .card-item:last-child {
    padding-bottom: 0;
}

.about .about-content .card .date {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--text-black-700);
}

.about .about-content .card .date .fa {
    margin-right: 4px;
}

.about .about-content .card .card-title {
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--text-black-900);
    text-transform: capitalize;
}

.about .about-content .card .card-text {
    font-size: small;
    line-height: 18px;
    text-align: justify;
    color: var(--text-black-700);
}

.about .about-content .card-content {
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 8px;
    width: 100%;
    position: relative;
    height: 23rem;
}

.about .about-content .card .circle {
    position: absolute;
    left: 0;
    top: 0;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: var(--skin-color);
}

.about .about-content .self-info .buttons {
    margin-top: 2rem;
}

.about .about-content .self-info .buttons .btn {
    margin-right: 10px;
}

.about .about-content .self-info .buttons .hire {
    margin-left: 8px;
}

/* goals */

.goals .goal-item {
    margin-top: 10px;
    flex: 0 0 50%;
    max-width: 50%;
}

.goals .goal-item .goal-item-inner {
    flex: 0 0 100%;
    margin-bottom: 3rem;
    width: 100%;
    position: relative;
}

.goals .goal-item .goal-item-inner h3.title {
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 28px;
    padding-bottom: 4px;
    color: var(--text-black-900);
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
    text-transform: capitalize;
    border-bottom: 2px solid var(--skin-color);
}

.goals .goal-item .goal-item-inner .goal-text {
    margin-bottom: 1rem;
}

.goals .goal-item .goal-item-inner .goal-text p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    padding-bottom: 8px;
    padding-left: 5px;
    border-bottom: 1.5px solid var(--skin-color);
    color: var(--text-black-700);
}

/* contact */

.contact-title {
    font-size: 2rem;
    text-align: center;
    color: var(--skin-color);
    margin-bottom: 1rem;
}

.contact-sub-title {
    font-size: 1.5rem;
    text-align: center;
    color: var(--text-black-900);
}

.contact .contact-info-item {
    margin-top: 1rem;
}

.contact .contact-info-item .contact-list {
    padding: 2px;
    margin-top: 5px;
    text-align: center;
}

.contact .contact-information {
    flex: 0 0 35%;
    max-width: 35%;
    padding: 1px;
}

.contact .contact-form-info {
    flex: 0 0 65%;
    max-width: 65%;
    padding-top: 2rem;
}

.contact .contact-form-info .contact-form {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form-info .contact-form .form-item {
    margin-bottom: 30px;
}

.contact .contact-form-info .contact-form .form-item:last-child {
    margin-bottom: 10px;
}

.contact .contact-form-info .contact-form .form-item .form-control {
    width: 100%;
    border-radius: 22px;
    height: 3rem;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 20px;
    color: var(--text-black-700);
    font-size: 1rem;
    transition: all 0.3s ease;
}

.contact .contact-form-info .contact-form .form-item .form-control:focus {
    box-shadow: 0 0 18px rgba(48, 46, 77, 0.15);
}

.contact .contact-form-info .contact-form .form-item .form-control:focus::-webkit-input-placeholder {
    opacity: 0;
    transform: translate(80%);
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.contact .contact-form-info .contact-form .form-item textarea.form-control {
    height: 100px;
}

.contact .contact-form-info .contact-form .align-btn {
    text-align: center;
}